.LayoutHeader.LayoutHeader {
  height: 64px;
  background-color: #999;
  color: #ccc;
}

.TypographyHeader.TypographyHeader {
  color: #333;
  font-weight: bold;
}

.Link {
  text-decoration: unset;
}
