.LayoutPage {
  height: 100%;
  width: 100%;
  min-width: fit-content;
  background-color: #666;
}

.LayoutContainer {
  margin-top: 64px;
  background-color: #fefefe;
  color: #666;
  min-height: calc(100vh - 96px);
}
