.LayoutPage {
  height: 100%;
  width: 100%;
  min-width: fit-content;
  background-color: #666;
}

.LayoutContainer {
  background-color: #333;
  color: #fff;
  min-height: calc(100vh - 96px);
}

.LayoutHeader {
  height: 64px;
  background-color: #999;
}

.LayoutFooter {
  height: 32px;
  background-color: #999;
}
